<p>For "Netflix and Chill"</p>


	
	<li>Title: <%= @movie.title %> | Description: <%= @movie.description %> | Year Released: <%= @movie.year_released %></li>

	<!--needs to be a link to delete below -->
	<li><%= link_to movie.title, movie %></li>
	

